@import url("https://use.typekit.net/jos4tzk.css");

body {
	background-color:#94B5EF;
	font-family: mr-eaves-modern;
    color: black;
    text-align: center;
}

h1 {
 	 padding-top: 20;
	 font-family: mr-eaves-modern;
	 color: black;
}

.webPics{
	display: float;
	width: 500;
	height: 333;
	border: 2px solid #94B5EF;
}

.titleHoverArea {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.aboutDiv {
	margin-top: 20;
	border-top: 4px solid #E8E9EC;
}

.teamPics {
	 height: auto\9;
	 max-width: 100%;
	 padding: 5px;
  	width: 90%; /* need the \9 to support InternetExplorer8 */
}

#aboutSection{
	float: center;
	width: 100%;
	display: block;
}

.aboutMember {
	float: left;
  width: 20%;
  overflow: hidden;
}

#contactSection{
 display: inline-block;
 align-content: center;
 width: 100%;
 padding-bottom: 20;
 border-top: 4px solid #E8E9EC;
 border-bottom:  4px solid #E8E9EC;
}


#mapSection{
 float: left;
 width: 100%;
 padding-bottom: 20;
}

.worldPic{
 width: 720;
 height: 360;
 position: relative;
 display: inline-block;
 border: 2px solid #94B5EF;
}

#circleOnMapPicCalgary{
 position: absolute;
 width:5;
 height:5;
 border:0;
 top: 19.5%;
 left: 17%;
}

#circleOnMapPicEdmonton{
 position: absolute;
 width:5;
 height:5;
 border:0;
 top: 18.5%;
 left: 17.2%;
}

#cityInfo{
	text-align: left;
	display: inline-block;
	position: absolute;
}

#cityListFormat {
	list-style-type: none;
}

.hoverMember:hover {
	background-color: white;
}

.hoverText:hover {
	color: white;
}

input[type="submit"]:hover {
	border: none;
    background-color: #004475;
    color: white;
}
